.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 95%;
  margin-bottom: 36px;
}
.input-container {
  border: 1px solid #adadad;
  border-radius: 12px;
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 4px 12px;
}
.arrow-input-container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}
.arrow-icon {
  font-size: 24px;
  color: #1c1c1c;
}
.inputElement {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #1c1c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.search-button {
  border: none;
  outline: none;
  background-color: transparent;
}
.search-icon {
  font-size: 28px;
}
.filter-buttons-container {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
}
.filter-buttons {
  min-height: 28px;
  min-width: 66px;
  border: 1px solid #adadad;
  border-radius: 6px;
  background-color: transparent;
  padding: 6px 8px;
  color: #1c1c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  flex-grow: 1;
}
.active-button {
  background-color: #ff941a;
  color: #ffffff;
  font-weight: 700;
  border: none;
}
.selected-items-type-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.selected-items-text {
  color: #1c1c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}
.type-filter-buttons-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.type-filter-button {
  width: 50px;
  height: 26px;
  border: 1.18px solid #f3f3f3;
  padding: 4.73px 9.75px;
  border-radius: 16.55px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-icon-container {
  height: 8px;
  width: 12px;
  background-color: #eeeeee;
  border-top-right-radius: 4.73px;
  border-bottom-right-radius: 4.73px;
}
.type-veg-icon {
  height: 16px;
  width: 16px;
  border: 1.18px solid #539a64;
  border-radius: 4.73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-non-veg-icon {
  height: 16px;
  width: 16px;
  border: 1.18px solid #e2574c;
  border-radius: 4.73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.veg-dot {
  background-color: #539a64;
  height: 7.09px;
  width: 7.09px;
  border-radius: 50%;
}
.non-veg-dot {
  background-color: #e2574c;
  height: 7.09px;
  width: 7.09px;
  border-radius: 50%;
}
.toggled-icon {
  order: 1;
}
.toggled-icon-veg-container {
  background-color: #539a64;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4.73px;
  border-bottom-left-radius: 4.73px;
}
.toggled-icon-non-veg-container {
  background-color: #e2574c;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4.73px;
  border-bottom-left-radius: 4.73px;
}

@media screen and (min-width: 1100px) {
  .filter-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .input-container {
    width: 25%;
  }
  .filter-buttons-container {
    width: 40%;
  }
  .selected-items-type-filter-container {
    width: 25%;
  }
  .input-container {
    height: 35px;
  }
}
